/* Design CSS container for card holder   */
#container-des {
  width: 70%;
  margin: auto;
}  

.postBackground-des {
  width: 80%;
  margin :auto;
  display: block;
}

.card {
    display: flex;
    width: 900px;
    border-radius: 20px;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: fit-content;
  }

/* Design the layout of the image */

  .pic-des{
    border-radius:20px ;
    box-shadow: 2px 2px 2px 2px whitesmoke;
    height: fit-content;
  }

/*  Transition for the image when clicking on*/

  .card:not(:first-child) {
    margin-left: -50px;
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.5s ease-out;
    border-radius: 15px;
  }

  .card:hover~.card {
    position: relative;
    left: 55px;
    transition: 0.5s ease-out;
  }
