* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

body{
    background-color: rgb(255, 253, 253);
    position: relative;
}
.form_des{
    background-color: #eee;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    padding-top:50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border: 2px solid rgb(30, 30, 30);
    border-radius:15px ;
    box-shadow: 3px 3px 3px 3px rgb(9, 8, 8);
}
.form_des h1{
    text-align: center;
    padding-bottom: 30px;
}

.form-group{
    padding-left: 20px;
    padding-bottom: 20px;
}
.form-group label{
    padding-bottom: 5px;
}
.button_des{
    padding-left: 20px;
}
