@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(243, 189, 41);
}

.wrapper{
    position:absolute;
    bottom: 30px;
    left: 30px;
    background-color: rgb(255, 255, 255);
    max-width: 365px;
    border-radius: 15px;
    text-align: left;
    padding: 25px 25px 30px 25px;
    font-size: 16px;
}

.wrapper .hide{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.title{
    text-align: left;
    font-size: 30px;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
}

.content{
    text-align: left;
    font-size: 16px;
    padding: 5px 0px 0px 0px;
}

.button{
    padding: 20px 0px 0px 0px;
}

.button button{
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255, 255, 0);
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button a{
    text-align: center;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}