.cookie-container p {
    margin: 24px 0;
    line-height: 2;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 20px 32px;
    border-radius: 8px;
    transition:400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a{
    padding: 0 10px;
}

.accept-button{
    background-color: rgb(255, 255, 0);
    border: none;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
    cursor: pointer;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none; 
    transition: 400ms;
}

.wrapper.active{
    display: flex;
}