
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: #eee;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.img {
    border: 2px #041264 solid;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    left: auto;
    border-radius: 30%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 50%;
    width: 12%;
    position: relative;
    display: block;
    background-color: #eee;
}

.webheading {
    color: rgb(3, 47, 83);
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #eee;
    letter-spacing: 0.6rem;
}

span {
    text-align: center;
}

.nav_background {
    background-color: rgb(253, 251, 251);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.nav {
    display: inline-block;
    color: rgb(3, 47, 83);
    text-align: center;
    margin: auto;
    position: relative;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f8f9fa;
}

.nav_setcolor {
    color: rgb(3, 47, 83);
    background: #eee;
    transition: all 0.5s ease;
}
.nav_setcolor:not(is.active):hover::before{
    opacity: 1;
    bottom: 0;
}
.nav_setcolor:not(is.active):hover{
    display: inline-block;
    margin:auto;
    color: #eee;
    background-color: rgb(3, 47, 83);
}

.searchbar {
    display: block;

    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 12px solid #eee;
    border-radius: 30%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 10px 10px 0px 10px;
}
.footer_tab {
    margin-right: 15px;
    text-align: center;
    color: rgb(3, 47, 83);
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.footer_tab:not(.is_active):hover::before{
    opacity: 1;
    bottom:0;
}

.footer_tab:not(is.active):hover{
    color: rgb(7, 67, 120);
    text-decoration: wavy;
    position: relative;
    text-transform: uppercase;

}
.avatar {
    vertical-align: middle;
    width: 50px;
    border-radius: 50%;
    height: 50px;

}
.avatar2 {
    vertical-align: middle;
    width: 30px;
    border-radius: 50%;
    height: 30px;

}
.ava_user{
    display: inline-block;
    position: relative;
    text-align: center;

}

.username {
    padding-left: 10px;
    text-align: center;
    color: rgb(7, 67, 120);
}

.picture_post{
    padding-top: 10px;
    position: relative;
    display: block;
}
.overallpost {
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 10px;
}
