* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #fffefe;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 90px;
    height: 100%;
    background: linear-gradient(to right, rgb(147, 163, 201), #eee);
    z-index: 2;
    padding-right: 0px;
    border-right: 1px solid rgb(3, 32, 63);
    transition: 400ms;
}

.sidebar.active {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgb(147, 163, 201), #eee);
    z-index: 2;
    padding-right: 0px;
    border-right: 1px solid rgb(3, 32, 63);
    transition: 400ms;
}

.sidebar.active.logo img {
    opacity: 1;
}

.main-home {
    position: absolute;
    width: calc(100% - 300px);
    top: 0;
    left: 300px;
    background: #fff;
    border-radius: 1rem 0 0 1rem;
    z-index: 1000;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

.sidebar div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #041264;
    margin-bottom: 1.4rem;
    opacity: 0;
}

.sidebar.active div.logo {
    opacity: 1;
}

.sidebar div .logo img {
    display: flex;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    align-items: center;
}

.sidebar.active div .logo img {
    opacity: 1;
}

.sidebar #btn {
    color: #041264;
    position: absolute;
    left: 70%;
    top: 6px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}

.sidebar.active #btn {
    color: #041264;
    position: absolute;
    left: 92%;
    top: 6px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}

.sidebar div.title {
    font-size: 30px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #032F53;
    opacity: 0;
}

.sidebar.active div.title {
    opacity: 1;
}

.sidebar div.message {
    font-size: 16px;
    position: relative;
    text-align: center;
    color: #032F53;
    margin-bottom: 2rem;
    opacity: 0;
}

.sidebar.active div.message {
    opacity: 1;
}

.sidebar ul {
    margin-top: 20px;

}

.sidebar ul li {
    position: relative;
    margin-top: 20px;
    height: 60px;
    width: 100%;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a {
    color: #032F53;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 400ms;
    position: relative;
    width: 100%;
    height: 90px;
}

.sidebar ul li a:hover {
    color: white;
    background: #032F53;
    border: 2px solid rgb(255, 255, 255);
}

.sidebar ul li a img {
    left: 34%;
    height: 30px;
    width: 30px;
    border-radius: 12px;
    position: relative;
    line-height: 50px;
}

.sidebar.active ul li a img {
    left: 30px;
    height: 30px;
    width: 30px;
    border-radius: 12px;
    position: relative;
    line-height: 50px;
}

.sidebar ul li a span {
    font-size: 20px;
    font-weight: bold;
    left: 50px;
    position: relative;
    opacity: 0;
}


.sidebar.active ul li a span {
    opacity: 1;
}

.sidebar ul li.log_out {
    position: relative;
    height: 90px;
    width: 100%;
    bottom: -60px;
    list-style: none;
    line-height: 50px;
}

.user_content {
    position: relative;
    height: 100%;
    left: 90px;
    width: calc(100% - 90px);
    background-color: rgb(255, 255, 255);
}

.sidebar.active~.user_content {
    width: 100%;
    left: 300px;
}

.user_content .text {
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    right: 10%;
    color: #000000;
    margin: 12px 12px 12px 12px;
    border-bottom: 3px solid #000000;
}

table {
    position: relative;
    width: 100%;
    margin: 12px 12px 12px 12px;
    border: 3px solid #000000;
    border-collapse: collapse;
}

table th {
    text-align: left;
    padding: 12px;
    font-size: 18px;
    background-color: #f1f1f1;
    text-decoration: underline;
}

table td {
    text-align: left;
    padding: 12px;
}

table tr {
    border-bottom: 2px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}

.user_content input {
    margin: 12px 12px 12px 0px;
    position: relative;
    height: 50px;
    border-radius: 70px;
    outline: none;
    border: none;
    background: url(picture/search-regular-24.png) no-repeat rgb(255, 253, 253);
    background-position: 15px;
    padding-left: 50px;
    font-size: 20px;
    color: rgb(5, 37, 73);
    border: 2px solid #041264;
}

select {
    margin: 12px 12px 12px 0px;
    height: 50px;
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

form {
    padding: 12px 12px 24px 0px;
    border-bottom: 3px solid #000000;
    margin: 12px 12px 12px 12px;
    width: 100%;
}

.ascTable{
    display:inline-table;
}

.descTable{
    display: none;
}

#sortButton{
    background: url(picture/filter-alt-regular-24.png) no-repeat rgb(255, 253, 253);
    margin: 12px 12px 12px 12px;
    position: relative;
    background-position: 1%;
    padding-left: 3%;
    padding-right: 1%;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    height: 50px;
}